@media (prefers-color-scheme: dark) {
  html {
    background-image: url(../public/foodhome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.landing{
  font-size: 40px;
}

.h1{
}