





body {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;

 
}






@media (prefers-color-scheme: dark) {
  html {
    background-image: url(../public/foodhome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
}

























/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}
